body{
    background-color: green;
    color: white;
}

h1{
    color: white;
    text-align: center;
}

caption{
    text-align: center;
    color: white;
}

table,th,td{
    background-color: lightgreen;
    color: black;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    text-align: center;
    
}

img{
    width: 200px;
    height: 150px;
    margin: auto;
    display: block;

}